body {
	background: rgb(255, 255, 200);
}

h1 {
	text-align: center;
	color: blue;
	margin: 2%;
}

#modulo1 {
	color: red;
	margin: 2%;
	text-align: center;
}

#singleModule {
	margin: 1%;
}